@page
@model Spotify.UI.Pages.AlbumModel
@inject Microsoft.AspNetCore.Identity.UserManager<Spotify.Domain.Models.ApplicationUser> userManager
@inject Spotify.Domain.Infrastructure.IApplicationUserManager appUserManager
@{
}

<div class="container">
    <table class="table is-fullwidth">
        <caption>
            <p class="title">
                @Model.Info.Name
                @if (User.Identity.IsAuthenticated)
                {
                    string buttonText;
                    string buttonClass;
                    string command;

                    if(appUserManager.IsAlbumLiked(userManager.GetUserId(User), Model.Info.Id))
                    {
                        buttonText = "Unlike";
                        buttonClass = "is-warning";
                        command = $"unLikeAlbum({Model.Info.Id})";
                    }
                    else
                    {
                        buttonText = "Like";
                        buttonClass = "is-success";
                        command = $"likeAlbum({Model.Info.Id})";
                    }
                    <button class="button ml-5 @buttonClass" onclick="@command" id="like-button">@buttonText</button>
                }
            </p>
            <p class="subtitle">@Model.Info.SongCount</p>
        </caption>
        @foreach(var song in Model.Songs)
        {
            <partial name="_SongTableItemPartial" model="song"/>
        }
    </table>

    @{
        var firstSong = Model.Songs.FirstOrDefault();
        var audioModel = new AudioViewModel
            {
                FileName = firstSong?.FileName,
                MusicianName = firstSong?.CreatorName,
                SongName = firstSong?.Name
            };
    }

    <partial name="_AudioPartial" model="@audioModel" />
</div>

@section Scripts{
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/js/likeSong.js"></script>
    <script src="~/js/likeAlbum.js"></script>
    <script src="~/js/playSong.js"></script>
    <script src="~/js/addToPlaylist.js"></script>
}