@page
@model Spotify.UI.Pages.AlbumModel
@inject Microsoft.AspNetCore.Identity.UserManager<Spotify.Domain.Models.ApplicationUser> userManager
@inject Spotify.Domain.Infrastructure.IApplicationUserManager appUserManager
@{
}

<div class="container">
    <table class="table is-fullwidth">
        <caption>
            <p class="title">
                @Model.Album.Name
                @if (User.Identity.IsAuthenticated)
                {
                    string buttonText;
                    string buttonClass;
                    string command;

                    if(appUserManager.IsAlbumLiked(userManager.GetUserId(User), Model.Album.Id))
                    {
                        buttonText = "Unlike";
                        buttonClass = "is-warning";
                        command = $"unLikeAlbum({Model.Album.Id})";
                    }
                    else
                    {
                        buttonText = "Like";
                        buttonClass = "is-success";
                        command = $"likeAlbum({Model.Album.Id})";
                    }
                    <button class="button ml-5 @buttonClass" onclick="@command" id="like-button">@buttonText</button>
                }
            </p>
            <p class="subtitle">@Model.Album.SongCount</p>
        </caption>
        @{
            int index = 1;
        }
        @foreach(var song in Model.Album.Songs)
        {
            var viewModel = new SongViewModel
                {
                    Id = song.Id,
                    AlbumId = song.AlbumId,
                    CreatorId = song.CreatorId,
                    CreatorName = song.CreatorName,
                    Index = index++,
                    Name = song.Name,
                    Plays = song.Plays,
                    FileName = song.FileName,
                    AlbumFileName = song.AlbumFileName
                };

            <partial name="_SongTableItemPartial" model="viewModel"/>
        }
    </table>

    @{
        var firstSong = Model.Album.Songs.FirstOrDefault();
        var audioModel = new AudioViewModel
            {
                FileName = firstSong?.FileName,
                MusicianName = firstSong?.CreatorName,
                SongName = firstSong?.Name
            };
    }

    <partial name="_AudioPartial" model="@audioModel" />
</div>

@section Scripts{
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/js/likeSong.js"></script>
    <script src="~/js/likeAlbum.js"></script>
    <script src="~/js/playSong.js"></script>
}