@page
@model Spotify.UI.Pages.Musician.ProfileModel
@inject Spotify.Domain.Infrastructure.IApplicationUserManager appUserManager
@inject Microsoft.AspNetCore.Identity.UserManager<Spotify.Domain.Models.ApplicationUser> userManager
@{
}

<div class="container">
    <section class="section">
        <div class="columns">
            <div class="column is-2">
                <figure class="image is-4by3">
                    <img src="~/images/band-pictures/placeholder.jpg" alt="@Model.Info.Name" />
                </figure>
            </div>
            <div class="column">
                <h1 class="title">
                    @Model.Info.Name
                    @if (User.Identity.IsAuthenticated)
                    {
                        string buttonText;
                        string buttonClass;
                        string command;

                        if(appUserManager.IsMusicianFollowed(userManager.GetUserId(User), Model.Info.Id))
                        {
                            buttonText = "Stop following";
                            buttonClass = "is-warning";
                            command = $"unFollowMusician({Model.Info.Id})";
                        }
                        else
                        {
                            buttonText = "Follow";
                            buttonClass = "is-success";
                            command = $"followMusician({Model.Info.Id})";
                        }
                        <button class="button ml-5 @buttonClass" onclick="@command" id="follow-button">@buttonText</button>
                    }
                </h1>
                <h2 class="subtitle">
                    Followed by @Model.Info.NumberOfFollowers people
                </h2>
                <div class="content">
                    @Model.Info.Description
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <table class="table is-striped is-fullwidth">
            <caption class="title">Popular</caption>
            @foreach (var song in Model.TopSongs)
            {
                <partial name="_SongTableItemPartial" model="song"/>
            }
        </table>
    </section>
    <section class="section">
        <h1 class="title">Popular albums</h1>
        <h2 class="subtitle"><a asp-page="Albums" asp-route-id="@Model.Info.Id">See all</a></h2>
        <div class="columns">
            @foreach(var album in Model.TopAlbums)
            {
                <div class="column is-one-fifth">
                    <partial name="_AlbumPartial" model="album">
                </div>
            }
        </div>
    </section>
</div>

@section Scripts{
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/js/likeSong.js"></script>
    <script src="~/js/followMusician.js"></script>
}