@page
@model Spotify.UI.Pages.Accounts.UserProfileModel
@inject Microsoft.AspNetCore.Identity.UserManager<Spotify.Domain.Models.ApplicationUser> userManager
@{
}

<div class="container">
    <section class="section">
        <div class="columns">
            <div class="column is-2">
                <figure class="image is-4by3">
                    <img src="/ProfilePicture/@Model.Info.FileName"/>
                    
                </figure>
                @if (User.Identity.IsAuthenticated)
                {
                    if(Model.Info.Id == userManager.GetUserId(User))
                    {
                        <a asp-page="ChangeProfileInfo" asp-route-id="@Model.Info.Id">Change profile info</a>
                    }
                }
            </div>
            <div class="column">
                <h1 class="title">
                    @Model.Info.Name
                </h1>
                <h2 class="subtitle">
                    Liked Albums: @Model.LikedAlbums.Count() <br />
                    Followed Musicians: @Model.FollowedMusicians.Count() <br />
                    Liked Songs: @Model.Info.LikedSongsCount 
                    <a asp-page="/Accounts/LikedSongs" asp-route-id="@Model.Info.Id">See all</a>
                </h2>
            </div>
        </div>
    </section>
    
    <section class="section">
        <h1 class="title">Liked albums</h1>
        <div class="columns horizontal-bar">
            @foreach(var album in Model.LikedAlbums)
            {
                <div class="column is-one-fifth">
                    <partial name="_AlbumPartial" model="album">
                </div>
            }
        </div>
    </section>
    <section class="section">
        <h1 class="title">Followed musicians</h1>
        <div class="columns horizontal-bar">
            @foreach(var musician in Model.FollowedMusicians)
            {
                <div class="column is-one-fifth">
                    <partial name="_MusicianPartial" model="musician">
                </div>
            }
        </div>
    </section>
</div>